= form_for "#" do |f|
  - if @category.errors.any?
    .alert.alert-danger.alert-dismissible.fade.show{role: "alert"}
      %h2= "#{pluralize(@category.errors.count, "error")} prohibited this category from being saved:"
      %ul
        - @category.errors.full_messages.each do |message|
          %li= message
  .form-group
    = f.label :name
    = f.text_field :name, class: "form-control"
  .form-group
    = f.submit 'Save', class: "btn btn-primary"
    = link_to 'Back', categories_path, class: "btn btn-danger"
