%h1.text-center Categories

.row
  .col-12.col-md-6.offset-md-3

    = link_to 'New Category', "#", class: "btn btn-success"

    - if @categories.empty?
      .alert.alert-danger No categories yet
    - else
      .list-group
        - @categories.each do |category|
          .list-group-item.d-flex.justify-content-between.align-items-center
            %p=category.name
            %div
              = link_to 'Items', "#", class: "btn btn-success"
              = link_to 'Rename',"#", class: "btn btn-warning"
              = link_to 'Delete', "#", method: 'delete', class: "btn btn-danger"
