%h1.text-center=@category.name

.row
  .col-12.col-md-6.offset-md-3
    = link_to 'All categories', "#", class: "btn btn-warning"
    - if @category.products.empty?
      .alert.alert-danger No products in this category yet
    - else
      .list-group
        - @category.products.each do |product|
          .list-group-item
            .row
              .col-2
                = image_tag product.image, class: "img-fluid"
              .col-10.col-md-5
                %h3=product.name
              .col-12.col-md-5
                = link_to 'Details', "#", class: 'btn btn-primary'
                = link_to 'Edit', "#", class: 'btn btn-warning'
                = link_to 'Delete', "#", method: 'delete', class: 'btn btn-danger'
