= form_for "#" do |f|
  - if @product.errors.any?
    .alert.alert-danger.alert-dismissible.fade.show{role: "alert"}
      %h2= "#{pluralize(@product.errors.count, "error")} prohibited this product from being saved:"
      %ul
        - @product.errors.full_messages.each do |message|
          %li= message

  .form-group
    = f.label :name
    = f.text_field :name, class: "form-control"
  .form-group
    = f.label :image
    = f.text_field :image, class: "form-control"
  .form-group
    = f.label :description
    = f.text_area :description, class: "form-control"
  .form-group
    = f.label :stock
    = f.number_field :stock, class: "form-control"
  .form-group
    = f.label :category
    = f.collection_select :category_id, Category.all, :id, :name, {}, {class: "form-control"}
  .form-group
    = f.submit 'Save', class: "btn btn-primary"
    = link_to 'Cancel', products_path, class: "btn btn-danger"
