%h1.text-center Products

.row
  .col-12.col-md-6.offset-md-3
    = link_to 'New product', "#", class: 'btn btn-success'
    - if @products.empty?
      .alert.alert-danger No products yet
    - else
      .list-group
        - @products.each do |product|
          .list-group-item
            .row
              .col-2
                = image_tag product.image, class: "img-fluid"
              .col-10.col-md-5
                %h3=product.name
              .col-12.col-md-5
                = link_to 'Details', "#", class: 'btn btn-primary'
                = link_to 'Edit', "#", class: 'btn btn-warning'
                = link_to 'Delete', "#", method: 'delete', class: 'btn btn-danger'
