%h1.text-center=@product.name

.row
  .col-12.col-md-3.offset-md-1
    = image_tag @product.image, class: "img-fluid"
    = link_to 'See all products', "#", class: "btn btn-primary"
  .col-12.col-md-5
    .card
      .card-body
        %h4 Description
        =@product.description
    .card
      .card-body
        .row
          .col-8 Stock
          .col-4
            %span.btn.btn-primary=@product.stock
            = link_to "#", class: 'btn btn-success', method: 'put' do
              = icon 'fas', 'chevron-up'
            = link_to "#", method: 'put', class: 'btn btn-danger' do
              = icon 'fas', 'chevron-down'
    .card
      .card-body
        .row
          .col-9 Category
          .col-3
            = link_to @product.category.name, "#"
