%nav.navbar.navbar-expand.navbar-light.bg-light
  = link_to 'Store', root_path, class: 'navbar-brand'
  %button.navbar-toggler{type: "button", "data-toggle": "collapse", "data-target": "#navbarNav", "aria-controls": "navbarNav", "aria-expanded": "false", "aria-label": "Toggle navigation"}
    %span.navbar-toggler-icon
  .collapse.navbar-collapse#navbarNav
    %ul.navbar-nav
      %li.navbar-item
        = link_to 'Categories', "#", class: "nav-link"
      %li.navbar-item
        = link_to 'Products', "#", class: "nav-link"
  = form_tag "#", method: 'get', class: 'form-inline mr-4' do
    = text_field_tag "query", "", class: "form-control", placeholder: "Search products..."
    = submit_tag "Search", class: "btn btn-outline-success"
  = link_to 'Clear all stock', "#" class: "btn btn-danger"
